<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>main</title>
</head>
<body>
    <ul style="display:block">
        <li style="display:inline;">Home</li>
        <li style="display:inline">Login</li>
    </ul>
    <div style="padding:10px; margin:0 auto; border: 1px solid #808080;">
        @RenderBody()
    </div>
</body>
</html>
