
@{
    ViewData["Title"] = "CreateUser";
}

<h2>CreateUser</h2>

<form method="post" action="/dashboard/createuser">
    <div class="row">
        <div class="col-lg-6">
            <label>Firstname</label>
            <input name="firstname" type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col-lg-6">
            <label>Lastname</label>
            <input name="lastname" type="text" class="form-control" placeholder="Last name">
        </div>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input name="email" type="email" class="form-control" placeholder="sample@gmail.com">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label>IP address</label>
        <input name="ipaddress" type="text" class="form-control" placeholder="192.168.0.1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

